/*--------------------------------------------------------------------------------*/
/* Importa la fuente desde Google Fonts */
/*--------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Onest:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Onest', sans-serif;
font-family: 'DM Sans', sans-serif;
*/
/*--------------------------------------------------------------------------------*/
/*------------------------------ Style reset -------------------------------------*/
/*--------------------------------------------------------------------------------*/
/* Reset */
* {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset de tamaño de fuente para que 1 rem y 1 em sean 10 px*/
/* Trabajar fuentes con medida rem en lugar de px */
html {
    font-size: 62.5%;
}

/* Para que las imagenes ocupen el 100 porciento del contenedor */
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------ Resources ---------------------------------------*/
/*--------------------------------------------------------------------------------*/

.button_size {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.8rem;
    width:100%;
    font-weight: 500;
}

.badge {
    padding: 0.4rem 1rem;
    background-color: #4CAF50; /* Color de fondo verde, puedes ajustarlo según tus preferencias */
    color: #fff; /* Color de texto blanco */
    border-radius: 0.4rem; /* Bordes redondeados */
    font-size: 1.2rem;
    margin-left: 1rem;
}

.carosuel_size {
    max-width: 50rem;
    width: auto;
    height: 100%;
}

.badge:hover {
    scale: 1.1;
}

.text_opacity {
    opacity:0.8;
}

.text_color {
    color: #06740cd2;
}

.text_bold{
    font-weight: 600;
}

.linkedin_icon {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.likedin_logo {
    text-align: start;
    width: 100%;
    color:#0e76a8;
}

.likedin_logo:hover {
    scale: 1.1;
}

.linkedin_text {
    font-family: 'Onest', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.github_icon {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.github_logo:hover {
    scale: 1.1;
}

.github_logo {
    text-align: start;
    width: 100%;
    color:#000;
}

.github_text {
    font-family: 'Onest', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.mail_icon {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.mail_logo {
    text-align: start;
    font-size: 3.2rem;
    width: 100%;
    color:#000;
    padding: 0.55rem;
}

.mail_text {
    font-family: 'Onest', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    color:#000;
    text-decoration: none;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------ General style -----------------------------------*/
/*--------------------------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
}

.backgroud_color_white {
    background-color: #FFFFFF;
}

.principal_container{
    display: flex;
    align-items:flex-start; /* Ajusta la alineación vertical según tus necesidades */
    flex-direction: row;
    padding: 8rem 2rem 2rem 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}
/*--------------------------------------------------------------------------------*/
/*-----------------------------Buttons--------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.button_blue_style_text {
    width: 10rem;
    height: 5rem;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
}

.button_blue_style{
    border-radius: 5.2rem;
    background: #6D7FFF;
    width: 22rem;
    height: 4.8rem;
    justify-content: center;
}

.button_blue_content {
    color: black;
    font-family: 'Onest', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
}

.button_white_content {
    color: #6D7FFF;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button_white_style_text {
    width: 22rem;
    padding: 1.2rem 1.6rem;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.button_white_style{
    border-radius: 5.2rem;
    margin: 0.5rem;
    border: 1px solid #6D7FFF;
}
/*--------------------------------------------------------------------------------*/
/*----------------------------------- menu ---------------------------------------*/
/*--------------------------------------------------------------------------------*/
nav {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 100%;

}

.navbar-toggler-icon {
    font-size: 2rem; /* Ajusta el tamaño según tus preferencias */
  }

.logo_container {
    max-width: 20rem;
    height: auto;
    margin-top: 1rem;
    margin-left: 2rem; 
    margin-bottom: 1rem; 
}

.img_logo {
    width: 5rem; /* Ajusta el ancho según sea necesario */
    height: 5rem; /* Ajusta la altura según sea necesario */
    opacity: 0.9;
}

.menu_ul {
    display: flex;
    padding: 2rem; /* Espaciado interno del menú */
    align-items: center;
    width: 100%;
    justify-content: center;
}

@media (max-width: 768px) {
    
    .menu_ul {
        justify-content: flex-start;
    }
    .navbar {
        margin: 0.5rem 0.5rem;
    }
  }

.menu_li {
    display: flex;
    justify-content: flex-end;
}

.menu_li_a {
    text-decoration: none;
    color: black;
    font-family: 'Onest', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    opacity: 0.9;
    margin-right: 3rem;
    font-weight: 600;
    line-height: 2rem;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}

.menu_li_a:hover {
    color: #4CAF50; /* Cambiar color de texto a gris al pasar el mouse */
    border-bottom-color: #4CAF50; /* Cambiar color del borde inferior a gris al pasar el mouse */
    /* Agregar más estilos de hover según sea necesario */
}


/*--------------------------------------------------------------------------------*/
/*----------------------------------Homepage style--------------------------------*/
/*--------------------------------------------------------------------------------*/
.homepage_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}    

.homepage_main_container {
    margin: 0;
    text-align: center; /* Esto centra el contenido dentro del bloque */
    padding: 0.1rem;
    border-radius: 0.8rem;
    margin-top: 8rem;
}

.homepage_main_section {
    width: 100%;
    max-width: 85rem;
    padding: 2rem;
}
    
@media screen and (min-width: 500px)
{
    .homepage_main_section {
        padding: 5rem;
    }
}

.homepage_main_tittle_container {
    display: flex;
    padding-top: 1rem;
}

.homepage_main_tittle {
    font-family: 'Onest', sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    /*opacity: 0.8;*/
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px)
{
    .homepage_main_tittle {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.homepage_redes {
    display: flex;
    gap: 2rem;
    font-size: 3rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.homepage_main_paragrpah {
    text-align:left;
    font-family: 'Onest', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    /*opacity: 0.8;*/
}

.homepage_main_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.8rem;
    padding: 8rem 5rem 5rem 5rem;
    max-width: 85rem;
}

.homepage_main_section_title {
    font-size: 3rem;
    font-family: 'Onest', sans-serif;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 500;
}
/*--------------------------------------------------------------------------------*/
.homepage_experience_tittle {
    padding-bottom: 0.5rem;
    font-family: 'Onest', sans-serif;
    font-weight: 600;
}

.homepage_experience_position {
    padding-bottom: 1rem; /* Espacio entre las experiencias */
    font-family: 'Onest', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.homepage_experience {
    border-left: 0.3rem solid #3498db; /* Línea vertical para indicar la cronología */
    padding-left: 2rem; /* Espacio a la izquierda de la línea vertical */
    margin-bottom: 1rem; /* Espacio entre las experiencias */
    text-align:left;
    font-family: 'Onest', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
  }

.homepage_know_more {
    font-family: 'Onest', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    border: 1.5px solid #8bccf7;
    border-radius: 0.8rem;
    padding:0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0b9dce;
    max-width: 11rem;
}

.homepage_know_more:hover {
    scale: 1.1;
}
/*--------------------------------------------------------------------------------*/
.homepage_project_h3 {
    padding-bottom: 0.5rem;
    font-family: 'Onest', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    text-align:left;
}

.homepage_project_paragraph {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-family: 'Onest', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    text-align:left;
}

.homepage_project_menu_li {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    font-family: 'Onest', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    list-style: disc;
}

.contenedor-imagen {
    overflow: hidden;
    position: relative;
}

.imagen {
    justify-content: center;
    width: 100%;
    max-width: 45rem;
    max-height: 50rem;
}

.homepage_img_container {
    display: flex;
    justify-content: space-around;
    gap: 7rem;
    
}

@media screen and (max-width: 500px)
{
    .homepage_img_container {
        flex-wrap: wrap;
        gap: 1rem;
    }
}


.badge_container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px)
{
    .badge_container {
        justify-content: normal;
    }

    .badge {
        margin-left: 0rem;
    }
}

.badge_properties {
    margin : 0.5rem;
}
/*--------------------------------------------------------------------------------*/
.homepage_about_me_title_container {
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 0.5rem;
}

.homepage_about_me_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 85rem;
    padding: 10rem 5rem 5rem 5rem;
}

.homepage_about_me_section_paragraph_style {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-family: 'Onest', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}

.homepage_about_me_section_img_p_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*--------------------------------------------------------------------------------*/
.homepage_contact_section_form_p_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.homepage_contact_section_form_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.img_me{ 
    max-width: 100%; 
    height: auto;
    border-radius: 50%;
}


.homepage_contact_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 85rem;
    padding: 8rem 5rem 5rem 5rem;
}

.homepage_contact_form_container {
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

.homepage_contact_main_p{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 2rem;
}


.homepage_contact_main_label {
    color: #06740cd2;
    font-family: 'Onest', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-width: 0.1rem;
    border-color: #000;
}

.homepage_contact_main_label_text_container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    padding-bottom: 0.5rem;
}

.homepage_contact_main_text {
    background-color: #E9E9E9;
    font-family: 'Onest', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    min-height: 4rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-width: 0.05rem;
    border-color: #000;
}

.homepage_contact_main_text_area {
    background-color: #E9E9E9;
    font-family: 'Onest', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    margin-bottom: 2rem;
    font-weight: 500;
    min-height: 20rem;
    width: 100%;
    border-width: 0.05rem;
    border-color: #000;
}

.homepage_form_button {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 60rem;
}

.homepage_about_me_img_container {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .homepage_about_me_section_img_p_container {
        flex-direction: row;
        justify-content: space-between;
    }

    .homepage_about_me_img_container {
        width: 40%; /* Ajusta el tamaño del contenedor de la imagen en pantallas más grandes */
    }

    .homepage_about_me_section_paragraph_container {
        width: 55%; /* Ajusta el tamaño del contenedor de párrafos en pantallas más grandes */
    }
}

.homepage_contact_main_text:focus {
    border-color: #dfe0df; /* Cambia el color del borde cuando el campo tiene el foco */
    box-shadow: 0 0 5px #dfe0df; /* Agrega una sombra cuando el campo tiene el foco */
    border-width: 0.5px;
    background-color: #dfe0df;
}

.homepage_contact_main_text_area:focus {
    border-color:#dfe0df; /* Cambia el color del borde cuando el campo tiene el foco */
    box-shadow: 0 0 5px #dfe0df; /* Agrega una sombra cuando el campo tiene el foco */
    border-width: 0.5px;
    background-color: #dfe0df;
}
/*--------------------------------------------------------------------------------*/
/*----------------------------About me style--------------------------------------*/
/*--------------------------------------------------------------------------------*/
.about_me_main_container { 
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 140rem;
    padding: 3rem;
    border-radius: 3rem;
}

.about_me_h3 {
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.about_me_p{
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}

.about_me_ul{
    background-color: #FFFFFF;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style:circle;
}

.about_me_li{
    background-color: #FFFFFF;
    color: #000;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    padding-bottom: 0.5rem;
}

.cv_button_container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.about_me_text_block_container{
    background-color: #FFFFFF;
    margin-bottom: 5rem;
}

/*--------------------------------------------------------------------------------*/
/*----------------------------Experience style------------------------------------*/
/*--------------------------------------------------------------------------------*/
.experience_main_container {
    display: flex;
    flex: 1;
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 1.2rem;
    max-width: 140rem;
    width: 100%;
}
.experience_main_h3 {
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.experience_main_div_h4 {
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
}

.experience_main_div_h3 {
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-top: 2px solid #000;
    padding-top: 1.5rem;
}

.experience_main_div_ul {
    background-color: #FFFFFF;
}

.experience_main_div_ul_li {
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------Project style-------------------------------------*/
/*--------------------------------------------------------------------------------*/
.project_main_container {
    display: flex;
    flex: 1;
    max-width: 140rem;
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 3rem;
}

.project {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Tres columnas de igual ancho */
  }

.project_image {
    width: 100%;
    height: auto;
    margin: 1rem;
}

.project_title {
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin:0.5rem
}

.project_paragraph {
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin:0.5rem
}

.project_item {
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------Contact style--------------------------------------*/
/*--------------------------------------------------------------------------------*/
.contact_main_container{ 
    display: flex;
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 3rem;
    flex-direction: column;
    max-width: 100rem;
    padding: 5rem;
}

.contact_main_h2 {
    background-color: #FFFFFF;
    font-size: 4.8rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2rem;
}

.contact_main_p{
    background-color: #FFFFFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.contact_main_label {
    color: #9C9797;
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-width: 0.2rem;
    border-color: #000;
}

.contact_main_label_text_container{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contact_main_text {
    background-color: #E9E9E9;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    min-height: 4rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-width: 0.2rem;
    border-color: #000;
}

.contact_main_text_area {
    background-color: #E9E9E9;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    min-height: 20rem;
    margin-bottom: 5rem;
    width: 100%;
    border-width: 0.2rem;
    border-color: #000;
}
/*--------------------------------------------------------------------------------*/
/*--------------------------------Footer------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.footer {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000;
    align-items: center;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
}

.footer_mail {
    color: black;
    font-family: 'Onest', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    opacity: 0.9;
    font-weight: 600;
    margin: 0;
}

.footer_mail_container{
    display:flex;
    flex-direction: column;
    padding-left: 1rem;

}

.redes {
    margin: 1rem;
    display: flex;
    gap: 2rem;
    font-size: 3rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 3rem;
}

.footer_p {
    font-size: 1.5rem;
    color: #FFF;
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 1rem;
    opacity: 0.7;
}

.footer_a {
    color: #000;
    opacity: 0.7;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------Section-----------------------------------------*/
/*--------------------------------------------------------------------------------*/
.section_container {
    display: flex;
    justify-content:center;
    background-color: #FFFFFF;
    padding: 5rem;
    border-radius: 3rem;
    
}

.section_div {
    background-color: #FFFFFF;
    display: flex;
    justify-content:center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    align-items: center;
    flex-direction:column;
    display: flex;
    max-width: 35rem;
}

.section_div_img{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.img_photo {
    background-color: #FFFFFF;
    width: 18rem;
    height:21rem;
    max-width: 100rem;
    border-radius: 0.5rem;
    object-fit:cover;
}

.name{
    background-color: #FFFFFF;
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: rem;
    margin-bottom: 1rem;
}

.degree_container{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.degree_1{
    background-color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Roboto', sans-serif;
}

.degree_2{
    background-color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    min-width: 30rem;
    font-family: 'Roboto', sans-serif;
}

.date{
    background-color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
}

.social_media_buttons_container {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 10rem;
}

.contact_button_container {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/*--------------------------------------------------------------------------------*/