@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/*
    font-family: 'Montserrat', sans-serif;
*/

* {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}


.menu_item {
    list-style: none;
}

.menu_item_a {
    text-decoration: none;
    color: black;
}
