// colors
// font colors
$principal_color: #000;
$principal_font_color: #000;
$secondary_font_color: #06740cd2;
$third_font_color: #fff;
$nav_hover: #4CAF50;
// background color
$background_color: #f9f9f9;
// badge color
$badge_color: #4CAF50;
$linkedin_color: #0e76a8;

// font sizes
$font_small: 1.2rem;
$font_medium: 1.5rem;
$font_large: 1.8rem;
$font_xl: 2rem;
$font_xxl: 3rem;
$font_xxxl: 3.2rem;
$font_xxxxl: 3.5rem;

// font family
$principal_font: 'Onest', sans-serif;


// line heights
$line_height_small: 2rem;