
.linkedin_container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_a {
        &_text {
            font-size: $font_medium;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
        }

        &_logo {
            text-align: start;
            width: 100%;
            color: $linkedin_color;
            &:hover {
                scale: 1.1;
                opacity: 0.75;
            }
        }
    }
}


.github_container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_a {
        &_text {
            font-size: $font_medium;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
        }

        &_logo {
            text-align: start;
            width: 100%;
            &:hover {
                scale: 1.1;
                opacity: 0.75;
            }
        }
    }
}

.mail_container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    &_i{
        &_logo {
            text-align: start;
            font-size: $font_xxl;
            width: 100%;
            &:hover {
                scale: 1.1;
                opacity: 0.75;
                transition: 0.3s;
            }
        }
    }
    &_div{
        &_text {
            font-size: $font_medium;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
        }
    }
}

.repo_container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    &_i{
        &_logo {
            font-size: $font_xxl;
            padding-left: 1rem;
            color: #FFAB00;
            &:hover {
                opacity: 0.75;
                transition: 0.3s;
            }
        }
    }
    &_a{
        &_text {
            padding: 0.5rem;
            font-size: $font_medium;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
        }
    }
}

.prueba {
    display: flex;
    align-items: flex-start;
}