/*--------------------------------------------------------------------------------*/
/*----------------------------------- menu ---------------------------------------*/
/*--------------------------------------------------------------------------------*/
nav {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 100%;

}

.navbar-toggler-icon {
    font-size: 2rem; /* Ajusta el tamaño según tus preferencias */
  }

.logo_container {
    max-width: 20rem;
    height: auto;
    margin-top: 1rem;
    margin-left: 2rem; 
    margin-bottom: 1rem; 
}

.img_logo {
    width: 5rem; /* Ajusta el ancho según sea necesario */
    height: 5rem; /* Ajusta la altura según sea necesario */
    opacity: 0.9;
}

.menu_ul {
    display: flex;
    padding: 2rem; /* Espaciado interno del menú */
    align-items: center;
    width: 100%;
    justify-content: center;

    &_li {
        display: flex;
        justify-content: flex-end;

        &_a {
            font-family: 'Onest', sans-serif;
            font-size: 1.5rem;
            font-style: normal;
            opacity: 0.9;
            margin-right: 3rem;
            font-weight: 600;
            line-height: 2rem;
            border-bottom: 2px solid #fff;
            transition: all 0.5s ease;
        }

        &_li:hover{
            color: #4CAF50; /* Cambiar color de texto a gris al pasar el mouse */
            border-bottom-color: #4CAF50; /* Cambiar color del borde inferior a gris al pasar el mouse */
        }
    }
}